package pages

import (
	"github.com/bayadev/bayahtmx/models"
    "github.com/bayadev/bayahtmx/templates/components/settings"

	
)




templ Settings(config []models.Setting, store []models.Setting, social []models.Setting) {
    <div class="grid grid-cols-3">
    @settings.Store(store)

@settings.Socials(social)
@settings.Config(config)
    </div>

}
