package components

templ SidebarItem(icon templ.Component, link templ.SafeURL, title string) {
                    <a class="flex items-center px-6 py-2 mt-4 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100"
                    href={link}>

@icon
                    <span class="mx-3">{title}</span>
                </a>
}